@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-byx-red: #ff0000;
		--color-byx-blue: #0000ff;
		--color-byx-black: #231f20;
		--color-byx-red-70: rgba(255, 0, 0, 0.7);
		--color-byx-red-40: rgba(255, 0, 0, 0.4);
	}
}

.beyondx-gradient-bg {
	@apply bg-gradient-to-r from-byx-blue to-byx-red;
}

.beyonx-text-gradient {
	@apply bg-clip-text bg-gradient-to-r from-byx-blue to-byx-red;
	color: transparent;
}

.stripe-white {
	@apply bg-repeat opacity-50;
	background-size: 8px;
	background-image: url('/stripes-white.svg');
}

a:hover,
button:hover {
	opacity: 0.7;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.party-text-rtsc {
	color: #1445C3;
}

.party-text-plpcr {
	color: #2276EF;
}

.party-text-pt {
	color: #F41724;
}

.party-text-kk {
	color: #FF711E;
}