@import '@thailand-election-2023/styles/dist/index.css';

html,
body {
  font-family: 'IBM Plex Sans Thai Looped';
  color: var(--color-black);
}

.main-container {
  width: 80vw;
  max-width: 680px;
  margin: 0px auto;
}
