@import '@thailand-election-2023/styles/dist/index.css';

html,
body {
  font-family: 'IBM Plex Sans Thai Looped';
  color: var(--color-black);
}

.main-container {
  width: 80vw;
  max-width: 680px;
  margin: 0px auto;
}

.search-list-item {
  padding: 5px;
  border-bottom: 1px solid var(--color-highlight-2);
  cursor: pointer;

  &:hover,
  &:focus {
    border-radius: 5px;
    background: var(--color-highlight-2);
  }
}
