@import 'tailwindcss/base';
@import '@wevisdemo/ui/styles/index.css';

html {
	scroll-behavior: smooth;
	outline: none;
	overflow-x: hidden;
	@apply bg-gray-1;
}

ul {
	list-style: disc !important;
	padding-left: 25px !important;
}

*:focus {
	outline: none;
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
.card-title {
	line-height: 2 !important;
	display: -webkit-box !important;
	/* -webkit-line-clamp: 3; */
	/* -webkit-box-orient: vertical; */
	white-space: normal;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.inputSearchPolicies {
	@apply w-full my-4 border-[3px]  border-black rounded-[50px] h-[44px] p-4 focus:border-highlight-2;
}
.bulletSeeMore {
	@apply absolute top-0 w-5 h-5 font-bold text-white bg-black rounded-full  translate-x-[-50%] translate-y-[-50%] left-[50%] flex items-center justify-center;
}

@media only screen and (max-width: 420px) {
	.card-title {
		-webkit-line-clamp: 3;
	}
}
