@import 'tailwindcss/base';

html {
	scroll-behavior: smooth;
	outline: none;
	overflow-x: hidden;
	@apply bg-gray-1;
}

ul {
	list-style: disc !important;
	padding-left: 25px !important;
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
