@import 'tailwindcss/base';

html {
	scroll-behavior: smooth;
	outline: none;
	overflow-x: hidden;
	@apply bg-gray-1;
}

ul {
	list-style: disc !important;
	padding-left: 25px !important;
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
.card-title {
	display: -webkit-box !important;
	/* -webkit-line-clamp: 3; */
	/* -webkit-box-orient: vertical; */
	white-space: normal;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	overflow: hidden;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

@media only screen and (max-width: 420px) {
	.card-title {
		-webkit-line-clamp: 3;
	}
}
