@font-face {
    font-family: "IBMPlexSansThai";
    src: url("../fonts/IBMPlexSansThai-ExtraLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "IBMPlexSansThai";
    src: url("../fonts/IBMPlexSansThai-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "IBMPlexSansThai";
    src: url("../fonts/IBMPlexSansThai-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "KondolarThai";
    src: url("../fonts/KondolarThai-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "KondolarThai";
    src: url("../fonts/KondolarThai-Black.ttf");
    font-weight: 700;
}
