@tailwind base;

@layer base {
	:root {
		/* UI colors */
		--color-black: #090909;
		--color-white: #ffffff;
		--color-gray-1: #fbf8f4;
		--color-gray-2: #dfdad1;
		--color-gray-3: #9a948c;
		--color-highlight-1: #e9fff4;
		--color-highlight-2: #00eaa4;
		--color-highlight-3: #f6ff94;
	}

	body {
		/* typo-b4 */
		@apply font-body text-[10px] md:text-[18px] leading-[1.5];
	}
}

/* Import font face */
@font-face {
	font-family: 'Kondolar Thai';
	font-display: swap;
	src: url(https://design-systems.wevis.info/KondolarThai-Regular.otf)
		format('opentype');
}
@font-face {
	font-family: 'Kondolar Thai';
	font-weight: 700;
	font-display: swap;
	src: url(https://design-systems.wevis.info/KondolarThai-Bold.otf)
		format('opentype');
}
@font-face {
	font-family: 'Kondolar Thai';
	font-weight: 900;
	font-display: swap;
	src: url(https://design-systems.wevis.info/KondolarThai-Black.otf)
		format('opentype');
}
@font-face {
	font-family: 'IBM Plex Sans Thai Looped';
	font-display: swap;
	src: url(https://design-systems.wevis.info/IBMPlexSansThaiLooped-Regular.ttf)
		format('truetype');
}
@font-face {
	font-family: 'IBM Plex Sans Thai Looped';
	font-weight: 700;
	font-display: swap;
	src: url(https://design-systems.wevis.info/IBMPlexSansThaiLooped-Bold.ttf)
		format('truetype');
}

/* Typography */

.typo-h2 {
	@apply font-heading text-[48px] md:text-[72px] leading-[1.25];
}

.typo-h3 {
	@apply font-heading text-[36px] md:text-[60px] leading-[1.25];
}

.typo-h4 {
	@apply font-heading text-[32px] md:text-[48px] leading-[1.25];
}

.typo-h5 {
	@apply font-heading text-[28px] md:text-[36px] leading-[1.4];
}

.typo-h6 {
	@apply font-heading text-[24px] md:text-[32px] leading-[1.4];
}

.typo-h7 {
	@apply font-heading text-[21px] md:text-[28px] leading-[1.4];
}

.typo-b2 {
	@apply font-body text-[21px] md:text-[24px] leading-[1.5];
}

.typo-b3 {
	@apply font-body text-[18px] md:text-[21px] leading-[1.5];
}

.typo-b4 {
	@apply font-body text-[16px] md:text-[18px] leading-[1.5];
}

.typo-b5 {
	@apply font-body text-[14px] md:text-[16px] leading-[1.5];
}

.typo-b6 {
	@apply font-body text-[12px] md:text-[14px] leading-[1.5];
}

.typo-b7 {
	@apply font-body text-[10px] md:text-[12px] leading-[1.5];
}

@tailwind components;
@tailwind utilities;
